* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clients-container {
  background-color: #f7fafc;
  min-height: 100vh;
}

.dashboard-container {
  min-height: 100vh;
}

.main-content {
  max-width: 920px;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 1rem;
  align-items: center;
  align-content: center;
}

.clients-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 1.5rem;
}

.control-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  justify-content: flex-start;
  align-items: start;
}

.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #e8edf5;
  padding: 0 1rem;
  border-radius: 8px;
}

.search-icon {
  font-size: 2rem;
  color: #333;
  margin-right: 0.5rem;
}

.search-input {
  width: 100%;
  padding: 0.75rem 0;
  background-color: #e8edf5;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.search-input::placeholder {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
}

.filter {
  display: flex;
  gap: 1rem;
}

.filter-select {
  padding: 0.5rem;
  background-color: #e8edf5;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: border-color 0.2s ease;
}

.filter-select option {
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  padding: 10px;
}

.table-container {
  background-color: #f7fafc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  overflow: hidden;
}

.clients-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}


.clients-table th {
  text-align: left;
  padding: 1rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.clients-table td {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #1f2937;
}

.clients-table tbody tr:hover {
  background-color: #f9fafb;
}

.clients-table tbody tr:last-child td {
  border-bottom: none;
}

.action-button {
  display: flex;
  gap: 0.5rem;
}

.status-cell {
  padding: 12px;
}

.status-badge.active {
  background-color: #efedf6;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 0.3rem 1.5rem;
  margin-inline: 1rem;
}

.status-badge.inactive {
  background-color: #f8ede8;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 0.3rem 1.5rem;
  margin-inline: 1rem;
}

/* Client Info Styling */
.client-name {
  font-size: 0.9rem !important;
  font-weight: 500 !important; /* Normal font weight */
}
.client-email {
  font-size: 1rem;
  color: #6d028e;
}

.client-date {
  color: #6d028e;
}

/* Pagination Styling */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  padding: 20px 0;
}

.pagination-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: white;
  color: #6b7280;
  cursor: pointer;
  border-radius: 50%;
  font-size: large;
  font-weight: 700;
  transition: all 0.2s;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  border-color: #d1d5db;
  background: #f9fafb;
}

.pagination-numbers {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 1.3rem;
  background: white;
  color: #6b7280;
  cursor: pointer;
  border-radius: 50%;
  font-size: 17px;
  transition: all 0.2s;
}

.pagination-number:hover {
  background: #f9fafb;
}

.pagination-number.active {
  background-color: #e8edf5;
  color: rgb(0, 0, 0);
  font-weight: 700;
}

.pagination-dots {
  padding: 0 8px;
  color: #6b7280;
  font-size: 14px;
}