@import url("./clients.css");

.talent-container {
  background-color: #f7fafc;
  min-height: 100vh;
}

.talent-title {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 1.5rem;
}

.talent-table {
  width: 100%;
  border-collapse: collapse;
}

.talent-table th {
  text-align: left;
  padding: 1rem;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.talent-table td {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.talent-table tbody tr:hover {
  background-color: #f9fafb;
}

.status-badge.active {
  background-color: #efedf6;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  max-width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
}

.status-badge.inactive {
  background-color: #f8ede8;
  display: inline-block;
  border-radius: 8px;
  text-align: center;
  max-width: 100px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.talent-name {
  color: #6d028e;
}

.talent-date {
  color: #6d028e;
}

.action-button button {
  background: none;
  border: none;
  cursor: pointer;
  color: #6d028e;
  font-weight: 700;
}


.talent-client{

    color: #6d028e;
}