.empinfo-img {
  width: 100% !important;  /* Square dimensions */
  height: 180px !important;
  object-fit: cover;        /* Ensures image covers the square area */
  object-position: center;  /* Centers the image */
  border-radius: 4px;       /* Optional: Adds rounded corners */
}
.stars-container {
  display: flex;
  gap: 2px;
}

.star {
  font-size: 20px;
  color: #ccc; /* gray empty star */
}

.star.filled {
  color: #f5c518; /* yellow filled star */
}
