.empinfo-img {
  width: 100% !important;  /* Square dimensions */
  height: 180px !important;
  object-fit: cover;        /* Ensures image covers the square area */
  object-position: center;  /* Centers the image */
  border-radius: 4px;       /* Optional: Adds rounded corners */
}
.star::before {
  content: "★";
  color: #ccc;
  font-size: 20px;
  margin-right: 2px;
}

.star.filled::before {
  color: gold;
}


